<section class="section_M" >
  <div class="containerMarket_M">
      <div class="panelMercado_M">
          <div class="panelMercadoExterno_M">
              <div class="titulo1_M">
                  <h2> NFT EN EL MERCADO</h2>
              </div>
              <div class="NFT_ventas_M">
                  <!-- NFT's en el mercado-->
                  <img src="/assets/images/DCK items page_Vista previa NFT.png" class="previewimg_M">
                  <img src="/assets/images/DCK items page_Vista previa NFT.png" class="previewimg_M">
                  <img src="/assets/images/DCK items page_Vista previa NFT.png" class="previewimg_M">
                  <button class="boton_pag_M">Comprar</button>
              </div>
              <div class="pages_btn">
                  <button class="boton_pag_M">last</button>
                  <button class="boton_pag_M">1</button>
                  <button class="boton_pag_M">2</button>
                  <button class="boton_pag_M">3</button>
                  <button class="boton_pag_M">4</button>
                  <button class="boton_pag_M">5</button>
                  <button class="boton_pag_M">older</button>
              </div>
          </div>
      </div>
      <div class="panelVenta_M">
          <div class="panelVentaInterno">
              <div class="titulo2">
                  <h2> Poner en Venta NFT</h2>
              </div>
              <div>
                  <h3>NFT:</h3> <input type="text" id="NFTID">
                  <h3>Precio actualizado:</h3> <input type="text" id="PrecioNFT">
                  <div><button class="boton_pag">ACTUALIZAR</button></div>
              </div>
              <div class="NFT_en_venta">
                  <h3>TUS NFT'S EN VENTA:</h3>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- FOOTER -->
<footer>
    <div class="footer_complet"> 
        <div class="footer_bajo">
            <div class="footer_final">
                <div class="redes">
                    <ul class="icon_clear">
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Telegram DCK.png" alt=""></a></li>
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK-02.png" alt=""></a></li>
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Discord DCK.png" alt=""></a></li>
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Youtube DCK.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <div id="copyright" class="hoc"> 
                        <p class="fl_left"> All Rights Reserved. &copy; Copyright 2022  <a href="index.html">DeadCake</a></p>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</footer>