<section class="section" >
  <div class="containerMarket">
      <div class="panelMercado">
          <div class="panelMercadoInterno">
              <div class="titulo1">
                  <h2> NFT EN EL MERCADO</h2>
              </div>
              <div class="NFT_ventas">
                  <!-- NFT's en el mercado-->
                  <img src="assets/images/DCK_items_page_Vista_previa_NFT.png" class="previewimg">
                  <img src="assets/images/DCK_items_page_Vista_previa_NFT.png" class="previewimg">
                  <img src="assets/images/DCK_items_page_Vista_previa_NFT.png" class="previewimg">
                  <button class="boton_pag">Comprar</button>
              </div>
              <div>
                  <button class="boton_pag">last</button>
                  <button class="boton_pag">1</button>
                  <button class="boton_pag">2</button>
                  <button class="boton_pag">3</button>
                  <button class="boton_pag">4</button>
                  <button class="boton_pag">5</button>
                  <button class="boton_pag">older</button>
              </div>
          </div>
      </div>
      <div class="panelVenta">
          <div class="panelVentaInterno">
              <div class="titulo2">
                  <h2> Poner en Venta NFT</h2>
              </div>
              <div>
                  <h3>NFT:</h3> <input type="text" id="NFTID">
                  <h3>Precio actualizado:</h3> <input type="text" id="PrecioNFT">
                  <div><button class="boton_pag">ACTUALIZAR</button></div>
              </div>
              <div class="NFT_en_venta">
                  <h3>TUS NFT'S EN VENTA:</h3>
              </div>
          </div>
      </div>
  </div>
</section>