<section class="section" >
    <div class="dashboard">
        <div class="administrative">
            <div class= "administracion_interna">
                <div class="titulo3">
                    <h2>Opciones Administrativas: *Sólo Owner*</h2>
                </div>
                <div class="administrative_options">
                    <div><h3>Cambiar precio de cajas: (Caja1, Caja2, Caja3):</h3><input type="text" id="Cajas_precio"><button class="boton_dashboard">ACTUALIZAR</button> </div>
                    <div><h3>Habilitar wallet con permisos:                .</h3> <input type="text" id="Users_wallet"> <button class="boton_dashboard">ACTUALIZAR</button> </div>
                    <div><h3>Ver wallets con permisos:</h3> <button class="boton_dashboard">ACTUALIZAR</button> </div>
                </div>
            </div>  
        </div>   
        <div class="containerMarket">
            <div class="panelMercado">
                <div class="panelMercadoInterno">
                    <div class="titulo1">
                        <h2> CUENTA:</h2>
                    </div>
                    <div class="NFT_ventas">
                        <!-- NFT's de la wallet asociada:-->
                        <img src="assets/images/DCK_items_page_Vista_previa_NFT.png" class="previewimg">  
                    </div>
                </div>        
            </div>
            <div class="panelVenta">
                <div class="panelVentaInterno">
                    <div class="titulo2">
                        <h2> Poner en Venta NFT</h2>
                    </div>
                    <div>
                        <h3>NFT:</h3> <input type="text" id="NFTID">
                        <h3>Precio actualizado:</h3> <input type="text" id="PrecioNFT">
                        <div><button class="boton_pag">ACTUALIZAR</button></div>
                    </div>
                    <div class="NFT_en_venta">
                        <h3>TUS NFT'S EN VENTA:</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>