<section class="section_game" >

    <div class="game_window">
        <div class="cakes_view">
            <div class="game_window_part">
                <!-- HORNO NUMERO 1-->
                <div class="horno">
                    <div class="horno_cake">
                        <div class="horno_cake_time"><img src="/assets/images/Juego DeadCake-32.png" alt=""></div>
                        <div class="horno_cake_interno">
                            <div class="horno_cake_interno_NFT"><!-- Imagen del NFT --></div>
                            <div class="horno_cake_interno_rewards"> <a href="#"><img src="/assets/images/Juego DeadCake-11.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="horno_items">
                        <ul class="horno_items_list">
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt="" ></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-30.png" alt=""></a></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-31.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <!-- HORNO NUMERO 2-->
                <div class="horno">
                    <div class="horno_cake">
                        <div class="horno_cake_time"><img src="/assets/images/Juego DeadCake-32.png" alt=""></div>
                        <div class="horno_cake_interno">
                            <div class="horno_cake_interno_NFT"><!-- Imagen del NFT --></div>
                            <div class="horno_cake_interno_rewards"> <a href="#"><img src="/assets/images/Juego DeadCake-11.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="horno_items">
                        <ul class="horno_items_list">
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt="" ></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-30.png" alt=""></a></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-31.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="game_window_part">
                 <!-- HORNO NUMERO 3-->
                 <div class="horno">
                    <div class="horno_cake">
                        <div class="horno_cake_time"><img src="/assets/images/Juego DeadCake-32.png" alt=""></div>
                        <div class="horno_cake_interno">
                            <div class="horno_cake_interno_NFT"> <!-- Imagen del NFT --></div>
                            <div class="horno_cake_interno_rewards"> <a href="#"><img src="/assets/images/Juego DeadCake-11.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="horno_items">
                        <ul class="horno_items_list">
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt="" ></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-30.png" alt=""></a></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-31.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <!-- HORNO NUMERO 4-->
                <div class="horno">
                    <div class="horno_cake">
                        <div class="horno_cake_time"><img src="/assets/images/Juego DeadCake-32.png" alt=""></div>
                        <div class="horno_cake_interno">
                            <div class="horno_cake_interno_NFT"><!-- Imagen del NFT --></div>
                            <div class="horno_cake_interno_rewards"> <a href="#"><img src="/assets/images/Juego DeadCake-11.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="horno_items">
                        <ul class="horno_items_list">
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt="" ></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><img src="/assets/images/Juego DeadCake-29_potenciadores.png" alt=""></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-30.png" alt=""></a></li>
                            <li class="items_potenciadores"><a href="#"><img src="/assets/images/Juego DeadCake-31.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>

        <div class="game_panel">
            <div class="game_panel_statistics">
                <ul class="panel_tokens">
                    <li class="tokens"><div><img src="/assets/images/Juego_token_DCK.png" alt=""></div><div><img src="/assets/images/Juego_nivel_de_juego.png" alt="" class="barra_panel"></div></li>
                    <li class="tokens"><div><img src="/assets/images/Juego_token_NFT.png" alt=""></div><div><img src="/assets/images/Juego_numero_tokens1.png" alt="" class="barra_panel"></div></li>
                    <li class="tokens"><div><img src="/assets/images/Juego_token_farming.png" alt=""></div><div><img src="/assets/images/Juego_numero_tokens2.png" alt="" class="barra_panel"></div></li>    
                </ul>

            </div>
            <div class="game_panel_buttoms">
                <ul class="botonera_de_opciones">
                    <li class="game_panel_buttoms_img"><a href="#"><img src="/assets/images/Juego_boton_CAKE.png" alt=""></a></li>
                    <li class="game_panel_buttoms_img"><a href="#"><img src="/assets/images/Juego_boton_CAKE_CREAMS.png" alt=""></a></li>
                    <li class="game_panel_buttoms_img"><a href="#"><img src="/assets/images/Juego_boton_ITEMS.png" alt=""></a></li>
                    <li class="game_panel_buttoms_img"><a href="#"><img src="/assets/images/Juego_boton_SHOP.png" alt=""></a></li>
                    <li class="game_panel_buttoms_img"><a href="#"><img src="/assets/images/Juego_boton_MY_WALLET.png" alt=""></a></li>
                    <li class="game_panel_buttoms_img"><a href="#"><img src="/assets/images/Juego_boton_CONVERTER.png" alt=""></a></li>
                </ul>

            </div>

        </div>

    </div>
    
</section>