<section class="section" >
    <div class="container">
      <div class="row_1" >
        <div class="column_1">
          <div class="box_1" >
            <div class="content">
                <h4>Deluxe Box</h4>
                <img loading="lazy" src="/assets/images/1_Deluxe-box.gif" alt="" class="imagen_box_1">
                <div class="price">
                    <h5>65  </h5> 
                    <img src="/assets/images/DCK_items_page_Logo_BUSD.png" alt="" class="imagen_busd"> 
                    <h5> busd</h5> 
                </div>
                <div class="button_1">
                <p style="margin:0px;"><a (click)="aprobarEnvioTokensAlContrato(1)" style="text-decoration: none;">BUY</a></p> 
                </div>
                <h5 class="rial"> En existencia: {{nftNoMinteadosCaja1}}</h5>
            </div>
            
          </div>
        </div>
      <div class="column_2">
        <div class="box_2">
          <div class="content">
              <h4>Maniac Box</h4>
              <img loading="lazy" src="/assets/images/2_Maniac-box.gif" alt="" class="imagen_box_1">
              <div class="price">
                  <h5>105  </h5> 
                  <img src="/assets/images/DCK_items_page_Logo_BUSD.png" alt="" class="imagen_busd"> 
                  <h5> busd</h5>
                  
              </div>
              <div class="button_1">
                <p style="margin:0px;"><a (click)="aprobarEnvioTokensAlContrato(2)" style="text-decoration: none;">BUY</a></p> 
              </div>
              <h5 class="rial"> En existencia: {{nftNoMinteadosCaja2}}</h5>
          </div>
          
      </div>
    </div>
      <div class="column_3 ">
        <div class="box_3">
            <div class="content">
                <h4>Strange Box</h4>
                <img loading="lazy" src="/assets/images/3_Strange-box.gif" alt="" class="imagen_box_1">
                <div class="price">
                    <h5>235  </h5> 
                    <img src="/assets/images/DCK_items_page_Logo_BUSD.png" alt="" class="imagen_busd"> 
                    <h5> busd</h5>
                    
                </div>
                <div class="button_1">
                  <p style="margin:0px;"><a (click)="aprobarEnvioTokensAlContrato(3)" style="text-decoration: none;">BUY</a></p> 
                </div>
                <h5 class="rial"> En existencia: {{nftNoMinteadosCaja3}}</h5>
            </div>
            
        </div>
      </div>
    </div>  
      </div>  
      

    </section>
<!-- FOOTER -->
<footer>
  <div class="footer_complet"> 
      <div class="footer_bajo">
          <div class="footer_final">
              <div class="redes">
                  <ul class="icon_clear">
                      <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Telegram DCK.png" alt=""></a></li>
                      <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK-02.png" alt=""></a></li>
                      <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Discord DCK.png" alt=""></a></li>
                      <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Youtube DCK.png" alt=""></a></li>
                  </ul>
              </div>
              <div class="copyright">
                  <div id="copyright" class="hoc"> 
                      <p class="fl_left"> All Rights Reserved. &copy; Copyright 2022  <a href="index.html">DeadCake</a></p>
                  </div>      
              </div>
          </div>
      </div>
  </div>
</footer>
  