<section class="section" >
    <div class="container">
      <div class="row_1" >
        <div class="column_1">
          <div class="box_1" >
            <div class="content">
                <h4>Deluxe Box</h4>
                <img loading="lazy" src="/assets/images/1_Deluxe-box.gif" alt="" class="imagen_box_1">
                <div class="price">
                    <h5>65  </h5> 
                    <img src="/assets/images/DCK_items_page_Logo_BUSD.png" alt="" class="imagen_busd"> 
                    <h5> busd</h5>
                </div>
                <div class="button_1">
                <p style="margin:0px;"><a href="#" style="text-decoration: none;">BUY</a></p> 
                </div>
            </div>
          </div>
        </div>
      <div class="column_2">
        <div class="box_2">
          <div class="content">
              <h4>Maniac Box</h4>
              <img loading="lazy" src="/assets/images/2_Maniac-box.gif" alt="" class="imagen_box_1">
              <div class="price">
                  <h5>105  </h5> 
                  <img src="/assets/images/DCK_items_page_Logo_BUSD.png" alt="" class="imagen_busd"> 
                  <h5> busd</h5>
              </div>
              <div class="button_1">
              <p style="margin:0px;"><a href="#" style="text-decoration: none;">BUY</a></p>
              </div>
          </div>
      </div>
    </div>
      <div class="column_3 ">
        <div class="box_3">
            <div class="content">
                <h4>Strange Box</h4>
                <img loading="lazy" src="/assets/images/3_Strange-box.gif" alt="" class="imagen_box_1">
                <div class="price">
                    <h5>235  </h5> 
                    <img src="/assets/images/DCK_items_page_Logo_BUSD.png" alt="" class="imagen_busd"> 
                    <h5> busd</h5>
                </div>
                <div class="button_1">
                <p style="margin:0px;"><a href="#" style="text-decoration: none;">BUY</a></p>
                </div>
            </div>
        </div>
      </div>
    </div>  
      </div>  
    </section>
  
  