.button_1:hover{
    cursor:pointer;

}


h4{
    font-size: 25px;
    font-weight:900;
    text-transform: uppercase;
    text-align: center;
    font-family: Helvetica, Sans-Serif;
    color:#720029;

}

h5{
    font-size: 19px; 
    font-weight: 900; /* original bold y 18px*/
    /*text-transform: uppercase;*/
    text-align: center;
    font-family: Helvetica, Sans-Serif;
    color:#720029;
}
.rial{
    font-size: 15px;
    padding-top:25px;
}

.nombre_cajas{

    padding-top:40px;
}


@media (max-width: 1060px) {

    .section{
        display: flex;
        justify-content: center;
        padding-top: 180px;
        padding-bottom: 280px;
        
      }
      
      .container{
        width: 90%;
      
      }
      
      .column_1, .column_2, .column_3{
        width: 100%;
        padding-bottom: 30px;
      }
      
      .box_1, .box_2, .box_3{
        padding-bottom: 33px;
        padding-top: 0px; 
        padding-left: 5px;
        padding-right: 5px;
      }
      
      .imagen_box_1{
        max-width: 250px;
        margin-top: -45px;
        margin-bottom: -120px;
      }

      .imagen_busd{
          padding-bottom:0px;
      }
      
      .price{
        position:relative;
        top:8px;
        right:13px;
        
      }
      
      
      h4{
        font-size: 24px;
      
      }
      
      h5{
        font-size: 18px;
      
      }

      .nombre_cajas{
        line-height: 0;

      }
      
      .rial{
        font-size: 12px;
        line-height: 0;
        
      }
      .button_1{
        max-width: 110px;
        font-size: 23px;
        font-weight: 600;
        padding-top: 17px;
        position:relative; /* ESTO NO ESTABA */
        top:0px;
        line-height: 13px;
        padding-bottom: 16px;  
      
      }
    

            
        } 

       /* @media (max-width: 700px){
            

        } */