
.header{
    top:-1px; /*Sirve para subir y no verse blanco original en -1 */
    position: fixed;
    height: 134px;
    width: 100%;
    left:0;
    z-index: 99;
   
    background-image: url('/assets/images/header_dck_final.png'); 
    /*background-color: #17dead; */
  }
  
  .navigation{ /* es también llamado nav */
    display:flex;
    justify-content:  space-between; 
    max-width:100%;/*Original en 1600px pero a gusto*/
    margin:0 auto;
  
  }
  
  /* minuto 22:47*/
  .logo{
    padding:10px 10px; 
    margin-left:2%;
    margin-right:28px;
    line-height: 75px; /* Falta cambiarlo por el logo aplastado*/
  }
  
  .nav-menu{ /* PARA EL UL */
    display: flex;
    position:relative;
    /*left:-100px;*/ /*pila*/
    margin-right: 40px;
    margin-top:-14px;
    list-style:none;
  }
  
  .nav-menu-item{
    margin:0 10px; /* Originalmente 0 10px */
    line-height: 115px; /* original 135 Alto de barra de navegación, segunda opción 115px */
    width:max-content;
    max-height: max-content; /* Para el tamaño de los items */
  }
  
  .nav-selection-menu{
    height: 47px;
  }
  .nav-selection-menu-connect{
    height: 47px;
  }
  
  .nav-img{
    padding-left:20px;
    padding-right:20px;
  
  }

  .nav-metamask{
      display:flex;
    list-style:none;
    line-height: 84px;
    /*esto no estaba*/
    margin-right: 4%;
  }

  .fondo_wallet{
    background-image: url('/assets/images/mostrador_wallet_connect.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 121px;
    height: 40px;
    margin-top: 30px;
  }

  .numero_Wallet{
    opacity:100%;
    color: rgb(114, 0, 41);
    font-weight: 700;
    font-size:20px;
    width: 20px;
    margin-top:-32px;
    margin-left:7px;

  }
  
  .nav-toggle{
    color:#fff;
    background:none;
    border:none;
    font-size:30px;
    padding: 0 20px;
    line-height: 75px; /*altura máxima en móviles */
    cursor:pointer;
    
    display:none;
  }





  @media (max-width: 1260px){ /* original 1060px*/

    .header{
        position: fixed;
        height: 75px; /*tamaño para celular*/
        background-size:cover;
    }
    
    .navigation{ /* es también llamado nav */
        max-width:1600px;/*Original en 992px pero a gusto*/
        margin:0 auto;
    }
    
    
    .logo{
        padding:10px 40px; 
        line-height: 40px;
        margin-left:33%;
       /* margin-left:15%;  15% en 375px y 30% para lo demás*/ 
        content: url('/assets/images/DeadCake_Logo_Horizontal.png');
        width: 262px; /*Original 262 */
        height: 60px; /*Original 60 */
    }
    
    .nav-menu{ /* PARA EL UL */
        flex-direction: column;
        margin-right: 20px;
        list-style:none;
        background-image:url('/assets/images/Background_menu_movil.png'); 
        /* background-color: rgb(216, 35, 82); */
        position: fixed;
        left:0;
        top: 70px; /* original 45px Quedando debajo del nav bar */
        width:100%; /* inicialmente en 100%*/
        height:30%;
        padding:20px 0;
        border-top: 5px solid rgb(0,94,37);
        border-bottom: 10px solid rgb(0, 141, 82);
  
        /*height:calc(50% - 40px); tamaño completo menos el tamaño del logo inicialmente en 100% pantalla */
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-metamask{
      padding: 0 0;
      margin: 0 0;
    }

    .nav-selection-menu-connect{
      margin-left:0%;
      margin-right:0%;
      width:120px;
      height:40px;
    }
    
    .nav-menu-item{
        margin-bottom:10px;
        line-height: 95px; /* original 135 Alto de barra de navegación */
        max-height: 40px; /* Para el tamaño de los items */
        width: fit-content;
        margin: 0 auto 20px;
    }   

    .nav-selection-menu{
      margin-top: -42px;
    }

    .nav-selection-menu-connect{
      margin-top: -42px;
    }
  
    .fondo_wallet{
      margin-top:14px;
      width:100px;
    }

    .numero_Wallet{
      font-size:16px;
    }
  
  
    .nav-toggle{
        display:block;
        padding: 0 20px;
        margin-top:0px; /*original -65px*/
        padding-top:0px;
        line-height: 0px;
        height:50px;
        
    } 
    
    .nav-menu_visible{ 
        left:0;
        
    }

    .desplegable_menu{
      background-image: url('/src/assets/Buttom_desplegable.png');
      margin-top:10px;
      width: 47px;
      height:44px;
      
    }

}

@media (max-width: 650px){ 

    .logo{
        margin-left:-6%;
        margin-right:0%;
    }
    .nav-selection-menu{
      margin-left:0%;
      margin-right:0%;
      /*width:80px;
      height:30px;*/
    }
    .nav-selection-menu-connect{
      margin-left:0%;
      margin-right:0%;
      width:80px;
      height:30px;
    }
    .nav-metamask{
      padding: 0 0;
      margin: 0 0;
    }
    .nav-toggle{
      display:block;
      padding: 0 20px;
      margin-top:5px;/*original 0px*/
  } 
  .desplegable_menu{
    margin-top:0px;
    width: 33px;
    height:30px;
    
  }
}

@media (max-width: 400px){ 

  .logo{
      margin-left:-10%;
      margin-right:-14%;
  }
  
  
  
  .nav-toggle{
    margin-left:-10%;
    /*original 0px*/
  } 

}




/* -------------------------------------------------  */


