<div class="wrapper_row1">
  <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
          <h1><a aria-current="page" routerLink="/lading"><img src="assets/images/Logo DCK.png" class="logo" alt=""></a></h1>
      </div>
      <section class="header"> 
      <div class="container-logo-nav-container">
          <nav class="navigation">    
              <ul>       
                <li><a aria-current="page" routerLink="/lading"><img src="/assets/images/Button_DCK_HOME.png" class="nav-img" ></a></li>       
                <li><a aria-current="page" routerLink="/dashboard"><img src="assets/images/Button_DCK_Dashboard_DCK.png" class="nav-img"></a></li>
                <li><a aria-current="page" routerLink="/marketplace"><img src="assets/images/Button_DCK_Marketplace_DCK.png" class="nav-img"></a></li>
                <li><a aria-current="page" routerLink="/newoffering"><img src="assets/images/Button_DCK_New_offering_DCK.png" class="nav-img"></a></li>
                <li><a aria-current="page" routerLink="/playgame"><img src="assets/images/Button_DCK_Playgame_DCK.png" class="nav-img"></a></li>
                <li class="meta-ico"><a><img src="assets/images/metamask_icon.png" class="nav-img_metamask"></a></li>
                <li><a href="#"><img src="assets/images/Button_DCK_Connect_DCK.png" class="nav-img"></a></li>
              </ul>
          </nav>
      </div>
      </section>
  </header>
</div>

<div>
  <router-outlet></router-outlet>
</div>