<header class="header">
  <nav class="navigation">  
      <a aria-current="page" routerLink="/lading" class="logo nav-link" > <img src="/assets/images/Logo DCK.png"  alt="">  </a>  
      <button class="nav-toggle">
          <i class="fas fa-bars"></i>
      </button>
      <ul class="nav-menu">
          <li class="nav-menu-item"><a aria-current="page" routerLink="/dashboard" class="nav-img nav-link"><img src="/assets/images/Button DCK_Dashboard DCK.png" class="nav-selection-menu"></a></li>
          <li class="nav-menu-item"><a aria-current="page" routerLink="/marketplace" class="nav-img nav-link"><img src="/assets/images/Button DCK_Marketplace DCK.png" class="nav-selection-menu" ></a></li>
          <li class="nav-menu-item"><a aria-current="page" routerLink="/newoffering" class="nav-img nav-link"><img src="/assets/images/Button DCK_New offering DCK.png" class="nav-selection-menu" ></a></li>
          <li class="nav-menu-item"><a aria-current="page" routerLink="/playgame" class="nav-img nav-link"><img src="/assets/images/Button DCK_Playgame DCK.png"  class="nav-selection-menu"></a></li>
          <li class="nav-menu-item"><a aria-current="page" routerLink="/lading" class="nav-img nav-link"><img src="/assets/images/DCK items page_English.png"   class="nav-selection-menu"></a></li>
          <li class="nav-menu-item"><a aria-current="page" routerLink="/lading" class="nav-img nav-link"><img src="/assets/images/Button DCK_Connect DCK.png" class="nav-selection-menu" ></a></li>
      </ul>
  </nav>
</header>
<div>
  <router-outlet></router-outlet>
</div>