*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* -------------HEADER-------------- */
.wrapper_row1{
    position: relative; 
    top:-1px; /*Sirve para subir y no verse blanco */
    background-size:cover;
    z-index: 99; 
    background-image: url('/assets/images/Header_DCK_marketplace.png'); 
    overflow:hidden;
    width: 100%;
    height: auto;
}

.clear {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; 
    width: 95%;
    overflow:hidden;
}

.navigation ul {   
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: inline-block;
    padding: 0.5rem 0.9rem;
}

.nav-img{
max-height: 40px; /* Máximo 40 px */
float:left;
}

.nav-img_metamask{
    position:relative;
    top: -25px;
    left:12px;
    max-height: 75px;
    float:right;
}

.fl_left{ /*LOGO */
    position: relative;
    bottom: 10px;
    padding-left: 0%;
}


/* ---------------------------------- */
/* -------------- BODY -------------- */
/* ---------------------------------- */
body{
    margin: 0px;
    z-index: 10;
}

.section{
    background-image: url('/assets/images/Background_Marketplace_DCK_fondo1.png'); 
    display: flex;
    justify-content: center;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 640px; /*max 2781*/
    margin-top: -70px;

}
.section_D{ /*---- Seccion Dashboard ----*/
    background-image: url('/assets/images/Background_Marketplace_DCK_fondo1.png'); 
    display: flex;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding-top: 280px;
    padding-bottom: 640px; /*max 2781*/
    margin-top: -70px;
}

.container{
    width: 90%;
    max-width: 1280px;
}

.content{ /* Margen inferior de las cajas */
    padding-bottom: 70px;
}

.column_1, .column_2, .column_3{
    display: flex;
    float: left;
    width: 33.33%;
}

.box_1, .box_2, .box_3{
    background-image: url('/assets/images/cuadro.png');  
    background-size: contain;
    padding-top: 30px;   /* Mueve a la caja hacia abajo, original 31px */
    padding-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    max-width: 425px;
}

.imagen_box_1{
    max-width: 330px;
    margin-top: -100px;
    margin-bottom: -140px;
}

h4{
    font-size: 25px;
    font-weight:900;
    text-transform: uppercase;
    text-align: center;
    font-family: Helvetica, Sans-Serif;
    color:#720029;
}

h5{
    font-size: 19px; 
    font-weight: 900; /* original bold y 18px*/
    /*text-transform: uppercase;*/
    text-align: center;
    font-family: Helvetica, Sans-Serif;
    color:#720029;
}

.button_1{ /* Esta es para el botón verde */
    background-image: url('/assets/images/boton.png');
    max-width: 155px; /* 135px original */
    background-size: cover;
    font-size: 34px; /* original 18px */
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position:relative; /*esto no estaba originalmente*/
    padding-top: 24px; /*Original 20px */
    line-height: 15px; /*Original 15px */
    padding-bottom:26px;   /*Original 22px */
}

.button_1 a{
    color: #720029;
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
}
.price{
    padding-left: 35%; /*Corregir el icono busd y el botón */
    display: flex;
    width: 33.33%;
}

.imagen_busd{
    position:relative;
    top:33px;
    margin-left: 5px;
    margin-right: 2px;
    width: 24px;
    height: 24px;
    margin-top: -3px;
}

.image_coming_soon{
    margin-top: 200px;
    margin-bottom: 250px;
    max-height: 179px;
}

.dashb_btn ul{
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.dashb_btn li{
    padding-right: 5px;
    padding-left: 5px;
}

img.dash_item {
    height: 55px;
}

.containerMarket{
    display: flex;
    margin-top:150px;

}

.panelMercado{
    height:600px;
    width: 800px;
    border: 10px;
    border-color: #720029;
    background-color: #D82352;
    margin-right: 3%;
    border-radius: 10%;
    /*color: #17dead;*/
    
}
.panelMercadoInterno{
    padding-left:40px;
    padding-top:20px;
    margin-bottom:5%;

}

.titulo1{
    padding-left:40px;
    position:relative;
    border-radius: 10px;
    background-color: aliceblue;
    color: #720029;
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    width: 330px;
    height:30px;
    margin-bottom:20px;
    
}

.panelVentaInterno{
    padding-left:40px;
    padding-top:20px;
    margin-bottom:5%;
    color: #720029;
    font-family: Helvetica, Sans-Serif;

}
.titulo2{
    margin-left: 10px;
    padding-left:10px;
    position:relative;
    border-radius: 10px;
    background-color: aliceblue;
    color: #720029;
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    width: 260px;
    height:30px;
    margin-bottom:20px;
    
}

.previewimg{
    height:268px;
    width:203px;
    margin-right:10px;
}

.boton_pag{
    position:relative;
    margin-top:180px;
    background-color: #17dead;

}

.panelVenta{
    height:600px;
    width:400px;
    border: 100px;
    border-color: #720029;
    background-color: #D82352;
    border-radius: 10%;
    /*color: #17dead;*/
}

.administrative{
    height: 360px;
    width:1200px;
    border-color: #720029;
    background-color: #D82352;
    margin-bottom:-130px;
    margin-right: 3%;
    border-radius: 5%;
    /*color: #17dead;*/

}

.administracion_interna{
    height: 250px;
    width:1300px;
    position:relative;
    padding-top:10px;
    font-family: Helvetica, Sans-Serif;

}

.titulo3{
    margin-left: 10px;
    padding-left:10px;
    position:relative;
    border-radius: 10px;
    background-color: aliceblue;
    color: #720029;
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    width: 560px;
    height:30px;
    margin-bottom:30px;
    
}
.boton_dashboard{
    background-color: #17dead;
}
.administrative_options{
    margin-left: 30px;
    margin-right: 100px;
}

/* -------------------------------------- */
/*  -------------- Footer --------------  */
/* -------------------------------------- */

.footer_complet{
    margin-top: -605px;
    background-image: url('/assets/images/Footer_DCK_Marketplace.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.footer_final{
    padding-top: 40%;
    padding-left:   0%;
}

.redes{
    display:flex;
    text-align: center;
    
}

.redes ul{
    display:flex;
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: auto;
    flex-wrap: wrap;
}

.icon-telegram img{ 
max-width: 80px;
padding-right: 15px;
}

.icon-facebook img{
    max-width: 80px;
    padding-right: 15px;
}

.icon-discord img{
    max-width: 80px;
    padding-right: 15px;
}

.icon-youtube img{
    max-width: 80px;
    padding-right: 15px;
}

.icon-twitter img{
    max-width: 80px;
    padding-right: 15px;
}

.icon-instagram img{
    max-width: 65px;

}

.copyright{
    padding-bottom: 80px;
    margin: auto;
    max-width: 500px;
    text-align: center;
}

.copyright p{
    color: #720029;
    font-family: Helvetica, Sans-Serif;
    font-weight: bold; 
    font-size: 18px; 
}

.copyright a{
    color: #720029;
    text-decoration: none;
}

/* ---- Movil ---- */

/*------- Header -------*/
@media (max-width:450px){

.wrapper_row1{
    position: relative; 
    top:-1px; /*Sirve para subir y no verse blanco */
    background-size:cover;
    z-index: 99; 
    background-image: url('/assets/images/Header_DCK_marketplace.png');  
    overflow:hidden;
    width: 100%;
    height: 40%;
    }

.clear {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    flex-direction: row;
   
   }

   .fl_left {
    bottom: 0px;
    padding-left: 0%;
}

h1{
    margin:15px;
}

   .navigation ul li a {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    
    
    }

   .navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nav-img{
    max-height: 25px;
    float:left;
    }
    


.nav-img_metamask{
display: none;
    }

    li.meta-ico{
        display: none !important; 
    }
.logo{ /*LOGO */
    position: relative;
    height: 45px;
    }

/*----- Footer -----*/

.footer_complet{
    margin-top: -215px;

}

.footer_final{
    padding-top: 25%;
    padding-left:   0%;
}

.redes ul {
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    }

            
    .icon-telegram img{
        max-width: 70px;
        padding-right:5px;
        padding-left:5px;
        }
            
        .icon-facebook img{
            max-width: 70px;
            padding-right: 5px;
            padding-left:5px;
        }
            
        .icon-discord img{
            max-width: 70px;
            padding-right: 5px;
            padding-left:5px;
        }
            
        .icon-youtube img{
            max-width: 70px;
            padding-right: 5px;
            padding-left:5px;
        }
            
        .icon-twitter img{
            max-width: 70px;
            padding-right: 5px;
            padding-left:5px;
        }
            
            
        .icon-instagram img{
            max-width: 70px;
            padding-right: 5px;
            padding-left:5px;
        }


        .copyright {
            padding-bottom: 20px;
            margin: auto;
            max-width: 300px;
            text-align: center;
        }
    }


/*------ Tablet ------*/
@media (max-width: 980px) and (min-width:451px){
/*------ Header ------*/

    .clear {
        display: flex;
        align-items: center;
        width: 95%;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 15px;
        margin-top: -20px;
}
    .navigation ul li a {
        display: inline-block;
        padding: 0.4rem 0.5rem;
    }
    .nav-img{
        max-height: 30px;
    }    
    .nav-img_metamask{
        position:relative;
        top:1%;
        max-height: 35px;  
        }
        .footer_complet{
            margin-top: -400px;      
        }        
        .footer_final{
            padding-top: 40%;
            padding-left:   0%;
        }      
        .redes ul {
            display: flex;
            text-align: center;
            list-style: none;
            padding: 0px;
            margin: auto;
            flex-wrap: wrap;
            justify-content: center;
        }
        .logo{ /*LOGO */
            height: 45px;
        }
     
/* ----- FOOTER ----- */
.footer_complet{
    margin-top: -550px;
    background-image: url('/assets/images/Footer_DCK_Marketplace.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer_final{
    padding-top: 80%;
    padding-left:   0%;
}
}

@media (max-width: 980px){
/* ------ Movil body ------ */
.section{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 280px;
}

.container{
    width: 90%;
}

.column_1, .column_2, .column_3{
    width: 100%;
    padding-bottom: 30px;
}

.box_1, .box_2, .box_3{
    padding-bottom: 33px;
    padding-top: 12px;   /* Mueve a la caja hacia abajo, originalmente 20px */
    padding-left: 5px;
    padding-right: 5px;
}

.imagen_box_1{
    max-width: 250px;
    margin-top: -90px;
    margin-bottom: -145px;
}

.price{
    position:relative;
    top:8px;
    right:13px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 18px;
}

.button_1{
    max-width: 110px;
    font-size: 23px;
    font-weight: 600;
    padding-top: 17px;
    position:relative; /* ESTO NO ESTABA */
    top:7px;
    line-height: 13px;
    padding-bottom: 16px;  
}

.image_coming_soon{
    position:relative;
    top:10px;
    max-height: 50px;
}

}











