<section class="section" >
    <div class="coming_soon">
        <img src="/assets/images/DCK_items_page_Comming_soon.png" class="image_coming_soon">
    </div>
</section>

<!-- FOOTER -->
<footer>
    <div class="footer_complet"> 
        <div class="footer_bajo">
            <div class="footer_final">
                <div class="redes">
                    <ul class="icon_clear">
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Telegram DCK.png" alt=""></a></li>
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK-02.png" alt=""></a></li>
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Discord DCK.png" alt=""></a></li>
                        <li><a class="icon-social" href="#"><img src="/assets/images/socialmedia DCK_Youtube DCK.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <div id="copyright" class="hoc"> 
                        <p class="fl_left"> All Rights Reserved. &copy; Copyright 2022  <a href="index.html">DeadCake</a></p>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</footer>